name: Go test

on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17.8

      - name: AWS cli/docker install
        run: sudo apt install awscli -y
          
      - name: Test
        run: GOBUILD_TAGS= make test

      - name: Build
        run: make gochain-icon-image

      - name: Docker Push
        run: |
          AWS_ACCESS_KEY_ID="${{ secrets.AWS_ACCESS_KEY_ID }}" AWS_SECRET_ACCESS_KEY="${{ secrets.AWS_SECRET_ACCESS_KEY }}"  aws ecr-public get-login-password --region us-east-1 | sudo docker login --username AWS --password-stdin public.ecr.aws/f5d2t1f5
          sudo docker tag goloop/gochain-icon:latest public.ecr.aws/f5d2t1f5/goloop-gochain-icon:latest
          sudo docker push public.ecr.aws/f5d2t1f5/goloop-gochain-icon:latest
    
      
